.about {
  height: 75vh;
  margin-top: 100px
}

.about-me-info {
  max-width: 900px;
  background-color: #252627;
  box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
  padding: 45px;
  position: relative;
  top: -70px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 1;
  text-align: justify;
}

.about-me-info p {
  font-size: 1rem;
  color: #bebebe;
}

/* -----------media query---------- */

@media (max-width: 1640px){

}

@media (max-width: 1400px){

}

@media (max-width: 1200px){

}

@media (max-width: 1024px){
  .about-me-info {
    position: relative;
    top: -35px;
    padding: 25px;
  }
}

@media (max-width: 768px){

}

@media (max-width: 480px){
  .about-me-info {
    position: relative;
    top: -15px;
    padding: 15px;
  }
}