.main-info-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text {
  margin-top: 120px;
}

.text p {
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: .8rem;
}

.text h1 {
  color: #fff;
  font-size: 3.3rem;
  cursor: context-menu;
}

.text span {
  display: inline-block;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

span:hover {
  animation-name: rubberBand;
  color: #488ecf;
}

span.name {
  color: #ed5565;
}

span.m-left {
  margin-left:  -10px;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }
  
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  
  65% {
    transform: scale3d(.95, 1.05, 1);
  }
  
  75% {
    transform: scale3d(1.05, .95, 1);
  }
  
  to {
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

.profile-image {
  margin-top: 120px;
}

.profile-image img {
  border-radius: 40% 2%;
  opacity: .5;
}

.profile-image img:hover {
  border-radius: 40% 2%;
  opacity: .9;
}


.profile-image img {
  width: 450px;
  /* margin-top: 50px; */
}

/* -----------media query---------- */

@media (max-width: 1400px){
  /* .main-info-section {
    align-items: center;
    display: block;
  } */
/* 
  .text {
    margin-top: 75px;
  } */

}

@media (max-width: 1024px){
  .main-info-section {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 768px){
  .profile-image img {
    width: 100%;
  }

  .text h1 {
    font-size: 2.8rem;
  }
}

@media (max-width: 480px){
  .text {
    margin-top: 45px;
  }

  .text p {
    letter-spacing: 2px;
    word-spacing: 6px;
    font-size: 0.7rem;
    margin-top: 5px;
  }
  
  .text h1 {
    font-size: 2.3rem;
  }

  .profile-image {
    margin-top: 50px;
  }
}