.back-and-front-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div[class^='skills-'] {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.html {
  margin-bottom: 15px;
}

div[class^='tag-'] p {
  color: #bebebe;
  text-align: left;
  padding-left: 2px;
  font-size: 14px;
  padding-top: 5px;
}

.progressbar {
  width: 350px;
  height: 20px;
  border: 1px solid #488ecf;
  border-radius: 20px;
  margin-top: 3px
}

div[class^='bar-'] {
  background-color: #488ecf;
  height: 14px;
  border-radius: 20px;
  margin: 2.0px
}

.bar-html,
.bar-javascript,
.bar-css,
.bar-ror {
  width: calc(0 - 6px);
}


@media (max-width: 1200px){
}

@media (max-width: 1024px){

}

@media (max-width: 768px){

}

@media (max-width: 480px){

}