@import "about.css";
@import "btns.css";
@import "contact.css";
@import "font.css";
@import "banner.css";
@import "nav.css";
@import "skills.css";
@import "work.css";
@import "form.css";
@import "footer.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #252627;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding: 0px 300px;
}

/* ----------------media query------------ */

@media (max-width: 1700px){
  .container {
    padding: 0px 150px;
  }
}

@media (max-width: 1400px) {
  /* .container {
    padding: 0px 70px;
  } */
}

@media (max-width: 1024px){
  /* .container {
    padding: 0px 50px;
  } */
}

@media (max-width: 768px){
  .container {
    padding: 0px 40px;
  }
}

@media (max-width: 480px){
}
