* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding: 0 300px 0 300px;
}

nav ul,
.main-info-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
  top: 20px;
  margin-right: 15px
}

nav a:hover {
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
  top: 20px;
  margin-right: 15px;
  color: #fff
}

.work-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

body {
  background-color: #252627;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.navbar {
  background-color: #181818;
}

header h1,
header a,
.text p,
.about h1,
.skills h1,
.work h1,
.contact h1 {
  color: #707070;
}

a {
  text-decoration: none;
  font-size: .9rem;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
}

.main-info-section {
  height: calc(75vh - 81.6px);
}

.text {
  margin-top: 180px;
}

.text h1 {
  color: #fff;
  font-size: 3.3rem;
  cursor: context-menu;
}

.profile-image {
  margin-top: 75px;
}

.profile-image img {
  border-radius: 40%;
  opacity: .5;
}

.profile-image img:hover {
  border-radius: 40%;
  opacity: .9;
}

.text span {
  display: inline-block;

  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

span:hover {
  animation-name: rubberBand;
  color: #488ecf;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

span.name {
  color: #ed5565;
}

span.m-left {
  margin-left:  -10px;
}

.text p {
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: .8rem;
}

.text a {
  padding: 12px 25px;
  background-color: none;
  border: 3px solid #ed5565;
  color: #ed5565;
  font-size: .8rem;
  letter-spacing: 2px;
  position: relative;
  top: 80px;
  overflow: hidden;
  transition: .5s;
  display: inline-block;
}

.text a:hover {
  color: #fff;
}

.text a::before {
  content: '';
  background-color: #ed5565;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: .5s;
}

.text a:hover::before {
  height: 100%;
}

.profile-image img {
  width: 450px;
  margin-top: 50px;
}

.about {
  height: 75vh;
  margin-top: 100px
}

.about h1,
.work h1 {
  font-size: 10rem;
  z-index: 0;
  opacity: .1;
}

.about-me-info {
  max-width: 900px;
  background-color: #252627;
  box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
  padding: 50px;
  position: relative;
  top: -70px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 1
}

.about-me-info p {
  font-size: 1.1rem;
  color: #bebebe;
}

.about-me-info p:nth-child(2),
.about-me-info p:last-child {
  margin-top: 30px;
}

.back-and-front-skills {
  display: flex;
  justify-content: space-between;
}

.skills {
  height: 100vh;
}

.skills h1,
.contact h1 {
  text-align:  right;
  font-size: 10rem;
  opacity: .1;
}

.skills-info {
  font-size: 1.1rem;
  color: #bebebe;
  max-width: 800px;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 50px;
}

/* --------Skills-------- */

.html {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

div[class^='tag-'] {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 50%, 0% 0%);
  width: 100px;
  height: 25px;
  background-color: #ed5565;
  /* margin-right: 30px; */
}

div[class^='tag-'] p {
  color: #fff;
  text-align: left;
  padding-left: 3px;
  font-size: 13px;
  padding-top: 5px;
}

.progressbar {
  position: relative;
  width: 300px;
  height: 20px;
  border: 1px solid #488ecf;
  border-radius: 20px;
  margin-top: 3px
}

div[class^='bar-'] {
  position: absolute;
  background-color: #488ecf;
  height: 14px;
  border-radius: 20px;
  margin: 2.0px
}

.bar-html,
.bar-javascript,
.bar-css,
.bar-ror {
  width: calc(0 - 6px);
}

h3 {
  font-size: 4rem;
  text-align: center;
  opacity: .1;
  color: #707070;
  margin-bottom: 20px;
}

.work-category button {
  text-transform: capitalize;
  border: 1px solid #ed5565;
  padding: 15px 30px;
  border-radius: 50px;
  color: #ed5565;
  font-size: 1.1rem;
  letter-spacing: 1px;
  background-color: #252525;
  outline: none;
  cursor: pointer;
}

div[class^='category-'] {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
}

.work a {
  justify-self: center;
  position: relative;
  display: inline-block
}

.work-category .active {
  background-color: #ed5565;
}

button.active {
  color: #fff;
}

.work a img {
  width: 350px;
  justify-self: center;
}

div.hideCategory {
  display: none;
}

.showCategory {
  display: block;
}

.contact {
  margin-top: 50px
}

form input,
form textarea {
  display: block;
  width: 500px;
  padding: 20px;
  background-color: #252627;
  border: 1px solid #707070;
  margin: 20px 0;
  outline: none;
  font-size:  1.2rem;
  color: #fff;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}

form input:last-child {
  width: 150px;
  padding: 12px 25px;
  background-color: none;
  border: 3px solid #488ecf;
  color: #488ecf;
  font-size: .8rem;
  letter-spacing: 2px;
  overflow: hidden;
  transition: .5s;
  display: inline-block;
  text-transform: uppercase;
}

.text p {
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: .8rem;
}

footer hr {
  border: 1px solid #707070;
  margin-top: 80px;
}

footer p {
  text-align: center;
  background-color: #252627;
  color: #707070;
  font-size: 1.1rem;
  padding: 30px 0;
}

/* ---------media query-------- */
/* 
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}


@media (min-width: 992px) {
  body {
    flex-direction: column;
  }

  .container {
    max-width: 960px;
    padding: 0 150px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding: 0 300px;
  }

  *{
    margin: 0;
    padding: 0;
  }
} */