.work-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.work {
  margin-top: 100px
}

.work h4 {
  word-spacing: 5px;
  font-size: .8rem;
  text-align: center;
  color: #bebebe;
  margin-top: 10px
}

.work p {
  word-spacing: 5px;
  font-size: .6rem;
  text-align: center;
  color: #bebebe;
  margin-top: 4px;
}

div[class^='category-'] {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 10px;
}

.work a {
  justify-self: center;
  position: relative;
  display: inline-block
}

.work-category .active {
  background-color: #ed5565;
}

.work a img {
  margin-top: 7px;
  width: 400px;
  justify-self: center;
  opacity: .4;
  border-radius: 4px;
}

.work a img:hover {
  opacity: 1;
  transition: .5s;
}

div.hideCategory {
  display: none;
}

.showCategory {
  display: block;
}

/* -----------media query---------- */

@media (max-width: 1200px){
}

@media (max-width: 1024px){

}

@media (max-width: 768px){
  .work a img {
    width: 100%;
    justify-self: center;
  }
}

@media (max-width: 480px){
  .work p {
    letter-spacing: 1px;
    word-spacing: 5px;
    font-size: .5rem;
    text-align: center;
    color: #fff;
    margin-top: 4px;
  }
}